<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <link rel = 'stylesheet' href = '../../resources/css/project.css'>
    <div class = "main">
      <div class = "list">
        <div class="col"><%- include ('../partials/message') %></div>
        <div class = "grocery-headers">
            <h2 class = "grocery-header">Grocery List</h2>
            <img class = "grocery" src = "../../resources/img/groceries.gif" style = "display: inline;">
        </div>
        <% groceries.forEach(el => { %>
          <div class="card grocery-card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <form style = "display: inline;">              
                  <input type = "checkbox" id = "checkGrocery">
                  <label class = "checkbox-inline checkboxes"for= "checkGrocery"><%= el.name %>: <%= el.quantity %></label>
                </form>
              </li>
            </ul>
          </div>
        <% }) %>
        <form action = "/groceries" method = "post" class = "adding">
          <input type = "text" name ="newGrocery" class = "add-grocery-item">
          <input type = "number" name ="quantity" min = "1" max = "10" value = "1">
          <button type = "submit" class = "btn btn-primary add-item">+</button> 
        </form>
      </div>
    </div>
  </main>

<%- include ('../partials/footer') %>
